BOT_TOKEN=put_token_here
PHONE=
DEFAULT_ORG=goldexpert
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=kurs_user
DB_PASSWORD=put_mysql_password_here
DB_NAME=kurs_update
RABBITMQ_URL=amqp://kurs_sync:put_rabbitmq_password_here@127.0.0.1:5672/
RABBITMQ_QUEUE=kurs_site_sync
DIAMANT_SITE_DB_HOST=
DIAMANT_SITE_DB_PORT=3306
DIAMANT_SITE_DB_USER=
DIAMANT_SITE_DB_PASSWORD=
DIAMANT_SITE_DB_NAME=
TILLACHI_SITE_DB_HOST=
TILLACHI_SITE_DB_PORT=3306
TILLACHI_SITE_DB_USER=
TILLACHI_SITE_DB_PASSWORD=
TILLACHI_SITE_DB_NAME=
GOLDEXPERT_SITE_DB_HOST=
GOLDEXPERT_SITE_DB_PORT=3306
GOLDEXPERT_SITE_DB_USER=
GOLDEXPERT_SITE_DB_PASSWORD=
GOLDEXPERT_SITE_DB_NAME=
SKUPKA_SITE_DB_HOST=
SKUPKA_SITE_DB_PORT=3306
SKUPKA_SITE_DB_USER=
SKUPKA_SITE_DB_PASSWORD=
SKUPKA_SITE_DB_NAME=
