BOT_TOKEN=put_token_here
PHONE=
DEFAULT_ORG=goldexpert
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=kurs_user
DB_PASSWORD=put_mysql_password_here
DB_NAME=kurs_update
RABBITMQ_URL=amqp://jewelry_user:my_secure_password@localhost/
RABBITMQ_QUEUE=gold_price_events
ENABLE_DIAMANT_ENDPOINT_SYNC=1
DIAMANT_ENDPOINT_URL=https://diamant.uz/api/update-gold-price.php
DIAMANT_ENDPOINT_TOKEN=mUaGcwNqfXcZz0p8xsugs3VM7g2ww5K2p6rCRy6orcU
